<h1 class="bg-primary text-white p-3 m-0">The Solar System</h1>
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Mercury">Mercury</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Venus">Venus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Earth">Earth</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nasapod">NASA POD</a>
                </li>

            </ul>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"> Home </a>
            </li>
        </div>
        <div class="dropdown">

            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Planets
            </button>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Mercury">Mercury</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Venus">Venus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Earth">Earth</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nasapod">NASA POD</a>
                </li>
            </ul>

            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Asteroids
            </button>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/asteroids">Asteroids</a>
                </li>
            </ul>
        </div>



    </div>
</nav>